name: E2E Tests

on:
  pull_request:

defaults:
  run:
    # reference: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#using-a-specific-shell
    shell: bash --noprofile --norc -eo pipefail -x {0}

# cancel the in-progress workflow when PR is refreshed.
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read
jobs:
  test-e2e:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Install cri-dockerd
        run: |
          ARCH=$(go env GOARCH)
          curl -LO https://github.com/Mirantis/cri-dockerd/releases/download/v0.3.21/cri-dockerd_0.3.21.3-0.ubuntu-focal_${ARCH}.deb
          sudo dpkg -i cri-dockerd_0.3.21.3-0.ubuntu-focal_${ARCH}.deb
          rm -f cri-dockerd_0.3.21.3-0.ubuntu-focal_${ARCH}.deb

      - name: Setup Minikube
        uses: medyagh/setup-minikube@e9e035a86bbc3caea26a450bd4dbf9d0c453682e # v0.0.21
        with:
          minikube-version: "1.38.0"
          kubernetes-version: v1.34.0
          driver: none
          container-runtime: docker
          memory: 6g
          cpus: 2
          cni: calico

      - name: Build, load and deploy ceph-volsync-plugin operator
        run: |
          IMG=localhost/ceph-volsync-plugin-operator:test
          MOVER_IMG=localhost/ceph-volsync-plugin-mover:test
          go mod tidy
          make manifests generate fmt vet test check-uncommitted
          make docker-build IMG=$IMG
          make docker-build-mover MOVER_IMG=$MOVER_IMG
          make install
          make deploy IMG=$IMG MOVER_IMG=$MOVER_IMG

      - name: Install snapshot controller
        run: test/scripts/install_snapshot.sh install

      - name: Deploy Rook Ceph
        run: test/scripts/deploy_rook_ceph.sh install

      - name: Running Test e2e
        run: |
          go test ./test/e2e/ -v -ginkgo.v

      - name: Cleanup ceph-volsync-plugin operator
        run: |
          make undeploy
          make uninstall

      - name: Collect logs on failure
        if: failure()
        run: |
          kubectl -n rook-ceph get cephclusters.ceph.rook.io -o yaml || true
          kubectl -n rook-ceph get pods -o wide || true
          kubectl -n rook-ceph get events --sort-by='.lastTimestamp' || true
          # TODO: add more logs to collect for debugging as needed
